body{
    padding: 0;
    margin: 0;
    background-image: url(img/depositphotos_49204405-stock-illustration-fast-food-background.jpg);
}

header{
    background-image: linear-gradient(#FBA519, #EA5F51);
    height: 100px;
    display: flex;
}

ul{
    margin: 0 auto;
    display: flex;
}



li{
    margin-left: 20px;
    padding-top: 20px;
    list-style: none;
    height: 100%;
     -webkit-transition: all .5s;
}

.Mclogo{
    width: 350px;
    border-radius: 30px;
}

.a-menu{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.li-uno{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    background-color: aqua;
}

.li-dos:hover{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    background-color: brown;
}

.li-tres:hover{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    background-color: cornflowerblue;
}

.li-cuatro:hover{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    background-color: darkcyan;
}

.content{
    overflow: hidden;
    margin: 0 auto;
    width: 800px;
    margin-top: 100px;
}

.img1{
    width: 800px;
}

.mcalgo{
    width: 300px;
    height: 150px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    margin-top: -180px;
    margin-left: 30px;    
}

.noc{
    text-align: center;
    color: #fff;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    font-size: 30px;    
}

.uabcs{
    position: absolute;
    margin-left: -150px;
    margin-top: 50px;
    width: 100px;
    opacity: 0.7;
}

.conocenos{
    margin-top: 50px;
    width: 100%;
    height: 700px;
    border-top: 10px solid #000;
}

.banner{
    width: 100%;
    height: 500px;
}

.color{
    width: 100%;
    height: 350px;
    border-top: 10px solid #fff;
    border-bottom: 10px solid yellow;
    background-color: red;
}

.img2{
    margin: 25px;    
    width: 250px;
    margin-left: 150px;
    border-radius: 50%;
    border: 10px solid #fff;
}

.imgs{
    width: 100%;
    margin: 0 auto;
    margin-top: -150px;
    position: absolute;
}

/*Menu (Comida)*/

.menuh{
    position: absolute;
    left: 220px;
    margin-top:70px;
    font-size: 50px;
}

.txt1{
    position: absolute;
    width: 300px;
    margin-top: 150px;
    left: 130px;
    font-size: 25px;
    text-align: center;
}

.btn{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 130px;
    margin-top: 250px;
    text-align: center;
    padding-top: 20px;
    background-color: #fff;
    -webkit-transition: all .7s;
}

.btn1{
    padding-top: 20px;
    text-decoration: none;
    color:blue;
    font-size: 30px;
}

.btn:hover{
    background-color: #000;
}

/*Quienes somos*/

.quienes{
    position: absolute;
    left: 560px;
    margin-top:70px;
    font-size: 50px;
}

.txt2{
    position: absolute;
    width: 470px;
    margin-top: 150px;
    left: 500px;
    font-size: 25px;
    text-align: center;
}

.btn2{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 580px;
    margin-top: 250px;
    text-align: center;
    padding-top: 20px;
    background-color: #fff;
    -webkit-transition: all .7s;
}

.btn3{
    padding-top: 20px;
    text-decoration: none;
    color:blue;
    font-size: 30px;
}

.btn2:hover{
    background-color: #000;
}

/*Galeria*/

.galeria{
    position: absolute;
    left: 1100px;
    margin-top:90px;
    font-size: 50px;
}

.txt3{
    position: absolute;
    width: 300px;
    margin-top: 170px;
    left: 1050px;
    font-size: 25px;
    text-align: center;
}

.btn4{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 1050px;
    margin-top: 250px;
    text-align: center;
    padding-top: 20px;
    background-color: #fff;
    -webkit-transition: all .7s;
}

.btn5{
    padding-top: 20px;
    text-decoration: none;
    color:blue;
    font-size: 30px;
}

.btn4:hover{
    background-color: #000;
}

.footer{
    width: 100%;
    height: 100px;
    margin-top: 174px;
    background-image: linear-gradient(#36D82D, #EA5F51);
}

.contact-us{
    float: right;
    width:85%;
    display: flex;
    margin-top: 35px;
}

.fa-envelope{
    margin-left: 20px;
    font-size: 25px;
}

.fa-facebook-f{
    font-size: 20px;
    margin-left: 25px;
}

.fa-twitter{
   font-size: 20px;
    margin-left: 25px; 
}

.fa-phone{
    font-size: 20px;
    margin-left: 25px;
}

.fa-map-marker-alt{
  font-size: 25px;  
}

@media screen and (max-width:930px){
    .a-menu{
        font-size: 20px;
    }
    
    .Mclogo{
        width: 250px;
    }
    
    li{
        padding-top: 30px;
    }
    
    .li-uno:hover{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    background-color: aqua;
}

.li-dos{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    background-color: brown;
}

.li-tres:hover{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    background-color: cornflowerblue;
}
    
    .fas, .fab{
        font-size: 15px;
    }
}